#obvod {
	position:absolute;
}

.prepinac {
	position:absolute;
	width: 64px;
	height: 37px;
	background-color: rgba(255, 0, 0, 0.00);
	border-width:0;
}

#prepinac1{
	top: 40px;
	left:108px;
}

#prepinac2 {
	top: 101px;
	left: 275px;
	transform: rotate(90deg);
}